/* Import Google Font */
@import url(https://fonts.googleapis.com/css?family=Nunito+Sans);

body {
    background-image: url(images/3.jpeg);
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
}

span {
    font-family: 'Forum', 'Yeseva One', Helvetica, cursive;
    color: white;
}

/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* STYLING */
.container {
    /* max-width: 620px; */
    min-width: 420px;
    margin: 40px auto;
    font-family: 'Forum', 'Yeseva One', Helvetica, cursive;
    color: white;
}

/* Style the tabs */
.tabs {
    overflow: hidden;
    margin-left: 20px;
    margin-bottom: -2px; // hide bottom border
    background: #0078c9;
    opacity: 0.7;
}

.tabs ul {
    list-style-type: none;
    margin-left: 20px;
}

.tabs a{
    float: left;
    cursor: pointer;
    padding: 10px 10px;
    transition: background-color 0.2s;
    border: 1px solid #ccc;
    border-right: none;
    background-color: #0078c9;
    border-radius: 10px 10px 0 0;
    font-weight: bold;
}
.tabs a:last-child {
    border-right: 1px solid #ccc;
}

/* Change background color of tabs on hover */
.tabs a:hover {
    background-color: #aaa;
    color: #fff;
}

/* Styling for active tab */
.tabs a.active {
    background-color: #fff;
    color: #484848;
    border-bottom: 2px solid #fff;
    cursor: default;
}

/* Style the tab content */
.tabcontent {
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 3px 3px 6px #e1e1e1;
    background: #0078c9;
    opacity: 0.7;
}

button {
    background-color: #343a40;
    color: white;
    margin: 10px;
    width: 250px;
}
