{% extends "base.html" %}

{% block content %}
<div>
    <div id="tabs" class="container">
        <div class="tabs">
            {% for group in results[0].keys() %}
            <a v-on:click="activetab='{{ group }}'" v-bind:class="[ activetab === '{{ group }}' ? 'active' : '' ]">Group {{ group }}</a>
            {% endfor %}
            <a v-on:click="activetab='final'" v-bind:class="[ activetab === 'final' ? 'active' : '' ]">FinalStage</a>
        </div>
        <div class="content">
            {% for group in results[0].keys() %}
            <div v-if="activetab === '{{ group }}'" class="tabcontent">
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 200px;">Страна</th>
                            <th scope="col">И</th>
                            <th scope="col">П</th>
                            <th scope="col">Н</th>
                            <th scope="col">Пр</th>
                            <th scope="col">ГЗ</th>
                            <th scope="col">ГП</th>
                            <th scope="col">+/-</th>
                            <th scope="col">О</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for country, stats in results[0][group].items() %}
                        <tr>
                            <th scope="row" style="width: 200px;">{{ country }}</th>
                            <td>{{ stats["games"] }}</td>
                            <td>{{ stats["won"] }}</td>
                            <td>{{ stats["draw"] }}</td>
                            <td>{{ stats["lost"] }}</td>
                            <td>{{ stats["gf"] }}</td>
                            <td>{{ stats["ga"] }}</td>
                            <td>{{ stats["diff"] }}</td>
                            <td>{{ stats["points"] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endfor %}
            <div v-if="activetab === 'final'" class="tabcontent">
                Content for Final Stage
            </div>
        </div>
    </div>
</div>
{% endblock %}